<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84312334778-jkmhfs6ctik2j5to60e3g4jeg92j3srs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84312334778-jkmhfs6ctik2j5to60e3g4jeg92j3srs</string>
	<key>API_KEY</key>
	<string>AIzaSyBBvVf1iGPseCkeXpR-x8SoRPbFQvpfXKg</string>
	<key>GCM_SENDER_ID</key>
	<string>84312334778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.law.personalinjurynetworking</string>
	<key>PROJECT_ID</key>
	<string>personal-injury-65638</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-injury-65638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84312334778:ios:337d630b623be78b773d83</string>
</dict>
</plist>