<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWDrueIEIC5jMgY5nNvOBfdXoQm-C6U9w</string>
	<key>GCM_SENDER_ID</key>
	<string>423594580933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalInjuryNetworking</string>
	<key>PROJECT_ID</key>
	<string>personal-injoury</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-injoury.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423594580933:ios:b01520233813eaf0d289ac</string>
</dict>
</plist>